html {
    font-family: 'Roboto';
}

body { padding: 0; margin: 0;
       Background-color: #FAFAFA;
     }

#searchbar {
    position: relative;
    height: 50px;
    background-color: #B0BEC5;
    padding: 15px 40px 10px 40px;
}

#searchbar input {
    width: 100%;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 40px;
    border: none;
    box-shadow: none;
    outline: 0;
    line-weight: 400;
    font-size: 16px;
    text-indent: 14px;
    
}

#searchbar button {
    position: absolute;
    outline: 0;
    top: 15px;
    right: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    Background-color: #4E342E;
    color: #FFF;
}


#content {
    margin: 40px 40px 40px 40px;
}

#content #addtodo input {
    width: calc(100% - 33px);
    outline: 0;
    border: 1px solid #90A4AE;
    height: 30px;
    border-radius: 20px;
    text-indent: 14px;
}

#content #addtodo {
    position: relative;
}


#content #addtodo button {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0px;
    border-radius: 50%;
    border: 0;
    background: #8bc34a;
    color: #FFF;
    outline: 0;
}



#todos .todo:last-of-type {
    margin-bottom: 0px;
}

#todos .todo {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    Background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 40px;
    padding-left: 15px;
}

#todos .todo button {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 4px;
    Background: none;
    border: none;
    outline: 0;
}

#todos .todo .delete {
    right: 51px;
    color: red;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid red ;
    transition: 0.5s ease;
	
}


#todos .todo p {
    margin-right: 90px;
}

#todos .todo .done {
    right: 4px;
    color: green;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid green ;
    transition: 0.5s ease;
}


#todos .todo .done:hover {
    Background-color: green;
    color: white;
}

#todos .todo .delete:hover {
    Background-color: red;
    color: white;
}


#todos .todo .notdone {
    right: 4px;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid green ;
    transition: 0.5s ease;
    Background-color: green;
    color: white;
}


#todos .todo .notdone:hover {
    color: green;
    Background-color: white;
}
